@mixin flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin container($paddingX){
    width: 100%;
    padding:0 $paddingX;
    margin: 0 auto;
}

@mixin msgContainer($text-color,$bg-color,$float-position){
    width: fit-content;
    max-width: 150px;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px 0;
    color:$text-color;
    background: $bg-color;
    font-size: 11px;
    float: $float-position;
    clear: both;
}