@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


$color-heading:hsl(271, 36%, 24%);
$color-subHeading: hsl(276, 100%, 81%);
$color-chatLeft:hsl(276, 55%, 52%);
$color-chatRight:hsl(271, 15%, 43%);
$color-placeholder:hsl(206, 6%, 79%);

$gradient-lightMegenta: hsl(293, 100%, 63%);
$gradient-lightViolet: hsl(264, 100%, 61%);

$white:hsl(0, 0%, 100%);
$body-bg:  hsl(271, 36%, 24%);
$radio-btnOutline: hsl(289, 100%, 72%);

$body-findSize: 16px;
$font-family: "Rubik", sans-serif;