@import "variables";
@import "mixins";

*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: $font-family;
    background: $body-bg;
}

.container {
    @include flex-container;
    @include container(10%);
    position: relative;
}

.row {
    flex: 1;
    padding: 20px 0;
}

.mobile-container {
    max-width: 290px;
    height: auto;
    background: $white;
    border-radius: $mobile-radius;
    padding: 10px;
    overflow: hidden;
    margin-left: 35%;

    &::before {
        content: "";
        position: absolute;
        left: -103px;
        top: 0px;
        display: block;
        width: 490px;
        height: 95vh;
        background: linear-gradient(90deg, $gradient-lightMegenta, $gradient-lightViolet);
        border-radius: 0 0 50% 50%;
        z-index: -1;
    }
}

.mobile-display {
    background: $body-bg;
    border-radius: $mobile-radius;
    overflow: hidden;
    height: fit-content;
}

.mobile-header {
    @include flex-container();
    background: linear-gradient(45deg, $gradient-lightViolet, $gradient-lightMegenta);
    padding: 25px 15px 10px;
    color: $white;
    position: relative;

    div:first-child {
        @include flex-container();

        div:nth-child(2) img {
            width: 40px;
            border-radius: 50%;
            border: 2px solid $white;
            margin-right: 7px;
        }

        h6 {
            font-size: 15px;
            font-weight: 500;
        }

        p {
            font-size: 10px;
            padding-top: 4px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 140px;
        height: 20px;
        background-color: $white;
        border-radius: 0 0 15px 15px;
    }
}

.mobile-body {
    .recived-msg {
        @include msgContainer($color-chatLeft, $chatLeft-bg, left);
    }
    .send-msg {
        @include msgContainer($color-chatRight, $white, right);
    }

    .send-img-cotainer {
        @include msgContainer($color-chatRight, transparent, right);
        max-width: fit-content;
    }

    .pricing-msg {
        @include flex-container();
        width: 180px;
        max-width: 180px;
        background: linear-gradient(45deg, $gradient-lightMegenta, $gradient-lightViolet);
        color: $color-white;
        padding: 10px 16px;
        div {
            @include flex-container();

            .radio-container {
                display: flex;
                align-items: center;
                position: relative;
                user-select: none;
                padding-left: 20px;
                cursor: pointer;

                input {
                    position: absolute;
                    opacity: 0;
                    left: 0;
                    top: 0;
                    cursor: pointer;
                    z-index: 2;
                }

                .checkmark {
                    position: absolute;
                    top: -2px;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 1px solid $color-white;
                    z-index: 1;
                }

                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                input:checked ~ .checkmark:after {
                    display: block;
                }

                .checkmark:after {
                    top: 3px;
                    left: 3px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $color-white;
                }
            }
        }

        h4 {
            font-size: 15px;
        }
    }

    .sending-container {
        @include flex-container();
        float: left;
        clear: both;
        width: 95%;
        border-radius: 20px;
        padding: 9px 10px 9px 20px;
        background: $white;
        margin: 11px 10px 10px;

        .send-btn {
            background: $sub-btn-bg;
            color: $color-white;
            border-radius: 50%;
            padding: 4px 8px;
        }
    }
}
